* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;                                   /* This sets all elements to be the actual set dimensions, disregarding padding and borders */
  webkit-backface-visibility: hidden;                     /* Hide the backface of elements - usuefull for 3d effects */
  -webkit-transition: translate3d(0,0,0);                  /* Turns on hardware acceleration - not known to be of benefit in CCG, but won't hurt */
}

body {
    padding: 50px; /* Safe area */
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background:transparent;                          /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
    overflow:hidden;                                 /* Hide any overflowing elements - to disable scollbars */
    -webkit-font-smoothing:antialiased !important;   
}


@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

.moving {
    height: 40px;
    width: 500%;
    
    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 71%, rgba(125,125,125,1) 85%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%) repeat;
    
    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.bar {
  overflow-x: hidden; 
  overflow-y:hidden; 
  width: 100%;
  border-radius: 2px;
  
  box-shadow: inset 0px 1px 0px #666, 0px 5px 0px 0px #000;
} 

.bar .gradient-overlay {
    position: absolute;
    width: inherit;
    height: 40px;
    
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, .2) 0%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, .2) 100%
    );
}

.bar.red {
    box-shadow: inset 0px 1px 0px #666, 0px 5px 0px 0px #600;
}

.gradient-overlay > span { 
    position:relative;
    padding-top: 8px;
    padding-left: 8px;
    text-align: center;
    text-transform:uppercase;
    z-index:1;
    display:block;
    color:#fff;
    font-size:23px;
    text-shadow:1px -1px 0px #000;
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}

.large {
    top: -13px;
    font-size: 40px !important;
}

/**************************************************/
/*              [Layout]                          */
/**************************************************/
.left{
    position: absolute;
    left: 96px;
}

.right {
    position: absolute;
    right: 96px;
    text-align: right;
}

.bottom {
    bottom: 54px;
}

.top {
    top: 54px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.wrapper {
    overflow: hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
/**************************************************/
/*              [Lower Third]                     */
/**************************************************/

.lowerthird {
    min-width: 600px;
    border-radius: 5px;
    border: 4px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.lowerthird * {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0.04));
    border-radius: 5px;
    padding: 8px 15px;
}
    
.lowerthird h1 {
    color: #fff;
    font-size: 40px;
    background-color: #000;
}

.lowerthird h2 {
    color: #000;
    font-size: 30px;
    background-color: #fff;
}

/**************************************************/
/*              [LowerThird Score]                  */
/**************************************************/
.scorethird .licence {
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0.04));
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
}

.scorethird .licence .logo {float: left; margin: 0 15px;}
.scorethird .licence .licenceim {margin-top: 20px; height: 55px}

.scorethird {
    text-align: center;
    font-size: 28px;
    width: 1200px;
    border-radius: 10px;
    border: 8px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.scorethird .team, .scorethird .score * {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0.04));
  float: left;
  font-size: 48px;
  padding: 10px 0;
  height: 68px;
}

.scorethird .team {
    color: #fff;
    width: 507px;
    padding: 10px 20px;
}

.scorethird .team1 {
    text-align: right;
    border-radius: 10px 0 0 10px;
}

.scorethird .team2 {
    text-align: left;
    border-radius: 0 10px 10px 0;
}

.scorethird .score1, .scorethird .score2 {
    width: 70px
}

.scorethird .scoredivider {
    width: 30px;
}

.scorethird .scorers > * {
    float: left;
    padding: 5px;
}

.scorethird .period {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0.04));
    float: left;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    width: 170px;
    height: 38px;
}

.scorethird .scorers1, .scorethird .scorers2 {
    color: #fff;
    width: 507px;
}

.scorethird .scorers1 {
    text-align: right;
    padding-right: 20px;
}

.scorethird .scorers2 {
    text-align: left;
    padding-left: 20px;
}

/**************************************************/
/*              [Scoreboard Score]                */
/**************************************************/

/* UNCOMMENT IF NO TRANSPARENCY KEY */
/*
.scoreboard .row, .scoreboard .border {
    background-color: rgba(0, 0, 0, 0) !important;
}
.scoreboard * {
    border-color: rgba(0, 0, 0, 0) !important;
}
.scoreboard .fouls1 {
    border-top-left-radius: 3px !important;
}
*/


.scoreboard {
  font-size: 26px;
  text-align: center;
}

.scoreboard .main {
  border-radius: 5px 5px 0 0;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.scoreboard .border {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}

.scoreboard .border-logo {
    width: 80px;
    border-bottom-left-radius: 5px;
}

.scoreboard .border-clock {
    width: 100px;
    max-width: 100px;
}

.scoreboard .sub {
  max-height: 34px;
  border-radius: 0 0 5px 5px; 
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top: 0px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: max-height 0.5s, border-bottom-left-radius 0.4s;
  -moz-transition: max-height 0.5s, border-bottom-left-radius 0.4s;
  transition: max-height 0.5s, border-bottom-left-radius 0.4s;
  overflow: hidden;
}

.scoreboard .sub.ng-hide {
  display: block !important;
  border-bottom-left-radius: 0px;
}

.scoreboard .row {
  float: left; 
}

.scoreboard .logo, .scoreboard .clock, .scoreboard .team, .scoreboard .score *, .scoreboard .fouls * {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0.04));
  height: 40px;
  padding: 6px 0;
}

.scoreboard .logo {
    width: 80px;
    float: left;
    font-family: 'Century Gothic';
    color: #fff;
    background-color: #000;
    border-radius: 5px 0 0 5px;
    padding: 5px 0;
}

.scoreboard .logo img {
    height: 45px;
}

.scoreboard .clock {
  float: left; 
  background-color: #fff;
  background-clip: padding-box;
  width: 100px;
  max-width: 100px;
}

.scoreboard .clock .time {
    margin-left: -50px;
    margin-right: -50px;
    text-align: center;
}

.score {
  float: left; 
  color: #fff;
  background-color: #000;
}

.scoreboard .score1, .scoreboard .score2 {
  float: left; 
  width: 40px;
}

.score1 {
  text-align: right;
}

.score2 {
  text-align: left;
}

.scoreboard .scoredivider {
  float: left; 
  width: 20px;
}

.scoreboard .team {
  float: left; 
  width: 85px;
  color: #fff;
  text-transform: uppercase;
}

.scoreboard .team2 {
  border-radius: 0 3px 3px 0;
}

.scoreboard .team.alc {
  color: #fff;
  background-color: #800000;
}

.scoreboard .team.con {
  color: #fff;
  background-color: #C6007E;
}

.scoreboard .team.der {
  color: #fff;
  background-color: #002366;
}

.scoreboard .team.gdr {
  color: #fff;
  background-color: #008000;
}

.scoreboard .team.hal {
  color: #fff;
  background-color: #6495ED;
}

.scoreboard .team.jam {
  color: #fff;
  background-color: #000;
}

.scoreboard .team.lan {
  color: #000;
  background-color: #FFD700;
}

.scoreboard .team.van {
  color: #fff;
  background-color: #592259;
}

.scoreboard .team.wen {
  color: #fff;
  background-color: #C0C0C0;
}

.team.yrk {
    color: #000;
    background-color: #FBB114;
}

.team.nth {
    color: #000;
    background-color: #fff;
}

.scoreboard .fouls * {
    float: left;
    background-color: #fff;
    font-size: 70%;
    padding: 6px 0;
    height: 30px;
}

.scoreboard .fouls1, .scoreboard .fouls2 {
    width: 85px;
}

.scoreboard .foulslabel {
    width:  100px;
}

.scoreboard .fouls1 {
    border-radius: 0 0 0 3px;
}

.scoreboard .fouls2 {
    border-radius: 0 3px 3px 0;
}